* {
    text-align: center;
    border-radius: 15px;
    color: white;
}

body {
    background-color: black;
    height: 100%;
}

.col1 {
    background-color: rgb(59, 57, 57);
    font-size: 30px;
    font-family: 'Arial';
}

.widthHeadMainFoot {
    width: 100%;
}
#headOtst {
    margin-bottom: 10px;
}

main {
    display: inline-block;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.widthMain {
    width: inherit;
}

.hightMain {
    height: inherit;
}

.LeftWidthRight {
    width: 20%;
    padding: 10 px;
}

nav {
    float: left;
    margin-left: 10px;
}

aside {
    float: right;
    margin-right: 10px;
}

.col2 {
    background-color: rgb(103, 93, 93);
}

.widthSect {
    display: inline-block;
    width: 50%;
}

.col3 {
    background-color: rgb(160, 156, 156);
    width: 90%;
    height: 30%;
    margin: 5px auto;
}
#footerOtst {
    margin-top: 10px;
}